<div id="revue-embed" style="padding-top: 25px;">
    <form action="https://www.getrevue.co/profile/navinmohan/add_subscriber" method="post" id="revue-form" name="revue-form" target="_blank">
    <div class="subscribe-form" style="
      display: flex;
  ">  
      <input class="revue-form-field" placeholder="Your email address" type="email" name="member[email]" id="member_email" style="
      border: 2px solid #28a5cb;
      border-radius: 3px;
      padding: 5px 11px;
      width: 19em;
      margin-right: 6px;
  ">
      <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit" style="
      background-color: #28a5cb;
      color: white;
      padding: 2px 10px;
      border-radius: 3px;
      font-size: small;
  ">
    </div>
    <div class="revue-form-footer" style="font-size: small;">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</div>
    </form>
  </div>